
page{
    height: 1300px;
    position: absolute;/*全屏的设置*/
}
#l{
    background-image: url("images/3.jpg");
    width: 811px;
    height: 507px;
    background-size: 100% 100%;
    animation: l 10s infinite;
    margin: 20px 220px;

}
#y{
    background-image: url("images/4.jpg");
    width: 828px;
    height: 466px;
    background-size:  828px 466px;
    margin: 20px 220px;
    animation: y 10s infinite;
}
#j{
    background-image: url("images/5.jpg");
    width: 800px;
    height: 491px;
    background-size: 800px  491px;
    animation: j 10s infinite;
    margin: 20px 220px;
}
#x{
    background-image: url("images/6.jpg");
    width:811px ;
    height: 507px;
    background-size: 811px  507px;
    animation: x 10s infinite;
    margin: 20px 220px;
}
@keyframes l {
    0%{opacity: 0}
    25%{opacity: 100}
    50%{opacity: 0}
    75%{opacity: 0}
    100%{opacity: 0}

}
@keyframes y {
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 100}
    75%{opacity: 0}
    100%{opacity: 0}

}
@keyframes j {
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 0}
    75%{opacity: 100}
    100%{opacity: 0}

}
@keyframes x {
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 0}
    75%{opacity: 0}
    100%{opacity: 100}

}
/*#l .nav{
    !*border: 2px solid red;*!
    width: 200px;
    height: 80px;
    margin: 50px 180px;
    border-radius: 20px;
    background-color: black;
}*/
#l .nav {
    color: white;
    font-size: 29px;
    display: block;
    width: 200px;
    height: 80px;
    margin: 50px 180px;
    border-radius: 100px;
    background-color: black;
    line-height: 80px;
    padding-left: 20px;
    z-index: 99;

}
/*
.nav  a:hover{
    background-color: dodgerblue;
    -webkit-transform: scale(2);   !*为什么我的hover
    没起作用*!
    -moz-transform: scale(2);
    -o-transform: scale(2);
}
*/
.about{
    position: fixed;
    border: 2px double black;
    background-color: black;
    color: white;
    top: 100px;
    left: 200px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}
.about a:hover{
    color: white;
}
.mu audio{
    position: fixed;
}
.nav{
    border: 1px solid black;
    width: 1000px;
    height: 40px;
    margin: 30px auto;
    background-color: black;
}
.nav .nav-1 li{
    display: inline-block;
    padding-left: 85px;
    color: white;
    line-height:10px;
}
.nav .nav-1 li a{
    color: white;
    text-decoration: none;
}
.nav .nav-1 li a:hover{
    color: pink;
}


















