
page{
    height: 100%;
    position: absolute;/*全屏的设置*/
}
#l{
    background-image: url("images/1.png");
    width: 1200px;
    height: 800px;
    animation: l 10s infinite;

}
#y{
    background-image: url("images/4.jpg");
    width: 1250px;
    height: 900px;
    animation: y 10s infinite;
}
#j{
    background-image: url("images/5.jpg");
    width: 1250px;
    height: 900px;
    animation: j 10s infinite;
}
#x{
    background-image: url("images/6.png");
    width: 1250px;
    height: 900px;
    animation: x 10s infinite;
}
@keyframes l {
    0%{opacity: 0}
    25%{opacity: 100}
    50%{opacity: 0}
    75%{opacity: 0}
    100%{opacity: 0}

}
@keyframes y {
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 100}
    75%{opacity: 0}
    100%{opacity: 0}

}
@keyframes j {
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 0}
    75%{opacity: 100}
    100%{opacity: 0}

}
@keyframes x {
    0%{opacity: 0}
    25%{opacity: 0}
    50%{opacity: 0}
    75%{opacity: 0}
    100%{opacity: 100}

}
/*#l .nav{
    !*border: 2px solid red;*!
    width: 200px;
    height: 80px;
    margin: 50px 180px;
    border-radius: 20px;
    background-color: black;
}*/
#l .nav {
    color: white;
    font-size: 29px;
    display: block;
    width: 200px;
    height: 80px;
    margin: 50px 180px;
    border-radius: 100px;
    background-color: black;
    line-height: 80px;
    padding-left: 20px;
    z-index: 99;

}
/*
.nav  a:hover{
    background-color: dodgerblue;
    -webkit-transform: scale(2);   !*为什么我的hover
    没起作用*!
    -moz-transform: scale(2);
    -o-transform: scale(2);
}
*/
.about{
    position: fixed;
    border: 2px double black;
    background-color: black;
    color: white;
    top: 100px;
    left: 200px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}
.about a:hover{
    color: white;
}
.mu audio{
    position: fixed;
}


















